Django>=4.2,<4.3
djangorestframework
djangorestframework-simplejwt
django-cors-headers
numpy
sentence-transformers
gunicorn
python-dotenv
pillow
requests
scikit-learn
scipy
joblib
psycopg2-binary>=2.9.0
neo4j>=5.0.0
whitenoise>=6.0.0
